<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Activity Details - ' + ${activity.name}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <style>
        .activity-box {
            padding: 20px;
            max-width: 80vw;
            min-width: calc(100vw / 3);
        }
    </style>
</head>

<body class="d-flex justify-content-center align-items-center text-center vh-100">
<div class="activity-box border text-break">
    <div class="d-flex mb-2">
        <h1 class="mb-0" th:text="${activity.name}"/>
    </div>

    <div class="d-flex mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-fill flex-shrink-0" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        <h4 class="ms-1 mb-0" th:text="${#temporals.format(activity.timestamp, 'MM/dd/yyyy')}"/>
    </div>

    <div class="d-flex mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-geo-alt-fill flex-shrink-0" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg>
        <h4 class="ms-1 mb-0" th:text="${activity.location}"/>
    </div>

    <div class="d-flex mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-text-paragraph flex-shrink-0" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5"/>
        </svg>
        <p class="ms-1 mb-0" th:text="${activity.description}"/>
    </div>

    <div class="d-flex justify-content-center gap-1">
        <form th:action="@{'/api/form/activity/signup/' + ${activity.activityId} + '/' + ${userId}}" method="post"><button type="submit" class="btn btn-success" th:if="${!signup}">Sign Up</button></form>
        <form th:action="@{'/api/form/activity/withdraw/' + ${activity.activityId} + '/' + ${userId}}" method="post"><button type="submit" class="btn btn-danger" th:if="${signup}">Withdraw</button></form>

        <a class="btn btn-secondary" th:if="${fromMyActivities}" th:href="@{'/PersonalActivities?userId=' + ${userId} + '&date=' + ${#temporals.format(activity.timestamp, 'yyyy-MM-dd')}}">Go Back</a>
        <a class="btn btn-secondary" th:if="${!fromMyActivities}" th:href="@{'/AvailableActivities?userId=' + ${userId} + '&date=' + ${#temporals.format(activity.timestamp, 'yyyy-MM-dd')}}">Go Back</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>