<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Event Activity</h5>
            <p class="card-text">Enter Time, Date, Place, Attire of event.</p>
            <label for="Time">Time</label>
            <input type="text" id="Time">
            <label for="Date">Date</label>
            <input type="text" id="Date">
            <label for="Place">Place</label>
            <input type="text" id="Place">
            <label for="Attire">Attire</label>
            <input type="text" id="Attire">
            <a href="#" class="btn btn-success">Add Event</a>
            <a href="#" class="btn btn-danger">Delete Event</a>
        </div>
    </div>
</div>
</body>
</html>